body{
    width: 400px;
    margin: auto;
}

button{
    background: linear-gradient(blue, purple);
    color: yellow;
}
input{
    background: linear-gradient(lightblue, lightpink);
    font-style: oblique;
}

#ayuda{
    color:greenyellow;
    /* background: linear-gradient(white, black, ); */
    background: radial-gradient(black, white);
    text-align: center;
}